<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addItem}">상품 등록 폼</h2>
    </div>

    <h4 class="mb-3" th:text="#{page.addItem.sub}">상품 입력</h4>

    <form action="item.html" th:action th:object="${item}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:text="${#fields.globalErrors()}">전역에러</p>
        </div>
        <div>
            <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
            <input type="text"
                   class="form-control"
                   id="itemName"
                   th:errorclass="field-error"
                   th:field="*{itemName}"
                   th:placeholder="#{page.placeholder('상품명')}">
            <div class="field-error" th:errors="*{itemName}">상품명에러</div>
        </div>
        <div>
            <label for="price" th:text="#{label.item.price}">가격</label>
            <input
                    type="text"
                    class="form-control"
                    id="price"
                    th:errorclass="field-error"
                    th:field="*{price}"
                    th:placeholder="#{page.placeholder('가격')}">
            <div class="field-error" th:errors="*{price}">가격에러</div>
        </div>
        <div>
            <label for="quantity" th:text="#{label.item.quantity}">수량</label>
            <input type="text"
                   class="form-control"
                   id="quantity"
                   th:errorclass="field-error"
                   th:field="*{quantity}"
                   th:placeholder="#{page.placeholder('수량')}">
            <div class="field-error" th:errors=*{quantity}>수량에러</div>
        </div>
        <hr class="my-4">
        <div>
            <div th:text="#{page.item.open}"> 판매 여부 </div>
            <div class="form-check">
                <input type="checkbox" id="open" name="open" th:field="*{open}" class="form-check-input">
                <label for="open" class="form-check-label" th:text="#{label.item.open}">판매 오픈</label>
            </div>
        </div>

        <div>
            <div th:text="#{page.item.region}">등록지역</div>
            <div th:each="region : ${regions}"  class="form-check form-check-inline">
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input" >
                <label th:for="${#ids.prev('regions')}" th:text="${region.value}" class="form-check-label"></label>
            </div>
            <div class="field-error" th:errors="*{regions}">등록지역에러</div>
        </div>
        <div>
            <div th:text="#{page.item.type}">상품종류</div>
            <div th:each="type : ${itemTypes}"  class="form-check form-check-inline">
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label"></label>
            </div>
            <div class="field-error" th:errors="*{itemType}">상품종류에러</div>
        </div>

        <div>
            <div th:text="#{page.item.deliveryCode}">배송 방식</div>

            <select th:field="*{deliveryCode}" class="form-select" th:errorclass="field-error">
                <option value="" th:text="#{page.item.deliveryCode.select}"> ===배송 방식 선택===</option>
                <option th:each="code : ${deliveryCodes}" th:value="${code.name()}" th:text="${code.description}"></option>
            </select>
            <div class="field-error" th:errors="*{deliveryCode}">배송방식에러</div>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'" th:onclick="|location.href='@{/items}'|" type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>
</div> <!-- /container -->
</body>
</html>